<% include header.ejs %>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a href="#" class="navbar-brand d-flex align-items-center">
            <div class="overflow-hidden">
                <i class="fa fa-newspaper"></i>
                <strong> Advertisement Management System </strong>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
            <div class="form-inline my-0 my-lg-2">
                <a href="/login" class="btn btn-sm btn-outline-info my-2 mr-sm-2 my-sm-0" role="button">Login</a>
                <a href="/register" class="btn btn-sm btn-outline-success my-2 my-sm-0" role="button">Register</a>
            </div>
        </div>
    </nav>
</header>
