<html>
<% include ../account/navbar.ejs %>
<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/campaign">Campaign</a></li>
        <li class="breadcrumb-item active" aria-current="page">New Campaign</li>
    </ol>
</nav>

<div class="container my-5">
    <h3 class="h3 text-center">Create New Campaign</h3>
    <hr>
    <div class="container">
        <form action="/campaign/create" method="post">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-10">
                    <input name="cmpTitle" type="text" value="<%= cmpTitle %>" required class="form-control disabled" id="inputEmail3" placeholder="Title">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                    <textarea name="cmpDesc" type="text" value="<%= cmpDesc %>" required class="form-control disabled" id="inputEmail3" placeholder="Description"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label for="exampleFormControlSelect1">Select advertisement type</label>
                <select name="cmpType" class="form-control" id="exampleFormControlSelect1">
                    <% if (cmpType) { %>
                        <% for (let type of cmpType) {%>
                            <option value="<%= type.type_id %>"><%= type.type_name %></option>
                    <% } } %>
                </select>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Create Campaign</button>
                </div>
            </div>
        </form>
    </div>
</div>
<% include ../footer.ejs %>
</body>
</html>
